.titulo {
  color: #0069a3;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

hr{
  border-color: #000;
  background-color: #000;
  height: 2px;
  margin-bottom: 10px;
}

.containerHoras {
  /* margin-top: 200px; */
  /* width: 70%; */
  /* align-items: center;
  justify-content: center; */
  /* height: auto; */
  /* width: 800px; */
  background-color: #f4d73b;
  /* border: 2px solid rgba(0, 0, 0, 0.973); */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px #0000004d;
  /* width: auto; */
  padding-left: 50px;
  padding-right: 50px;

  margin-top: 200px;

  /* top: 0;  */
  /* left: 0; */
  /* padding: 10px;  */
  /* box-sizing: border-box; */
}

.containerEmpty{
  height: 200px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #0069a3;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  width: 250px;
  margin-bottom: 40px;
  border: 2px solid rgba(0, 0, 0, 0.973);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}
.btn:hover{
  background-color: #44276f;
}

.uploads {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 10px;
  justify-content: space-around;
  border:2px solid rgba(0, 0, 0, 0.973);
  border-radius: 10px;
  width: 95%;
}

.inputsHoras {
  width: 200px;
  display: grid;
  align-items: center;
  /* margin: 10px 10px 10px 10px; */
  /* justify-content:space-between; */
  /* border:2px solid rgba(0, 0, 0, 0.973); */
  border-radius: 5px;
  width: auto;
  margin: 10px;
}

.inputsHoras select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
}

.inputsHoras select:hover {
  border-color: #999;
}

.inputsHoras select:focus {
  outline: none;
  border-color: #555;
}

.inputsHoras select option {
  background-color: #fff;
}


.labelsUploads {
  padding: 10px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  width: 250px;
}

/* .docdiv{
  height: 100%;
} */

.docdiv:hover{
  background-color: #f0f0f0;
  border-radius: 10px;
  width: auto;
}

.labelsHoras {
  /* padding: 10px; */
  /* font-size: 20px; */
  font-weight: 700;
  color: #0069a3;
  width: 250px;
  font-weight: 500;
  font-size: 1.071em;
}

.doc{
  height: auto;
  padding: 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  padding-right: 20px;
}

form{
  display: grid;
  justify-content: center;
  align-items: center;
}

.inputFile{
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
}

.btn-submit{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* input::file-selector-button {
  font-weight: bold;
  color: #000;
  border: thin solid rgb(0, 0, 0);
  border-radius: 3px;
}

input::file-selector-button:hover {
  background-color: #cecece;
  border: 2px solid #00cec9;
} */

.inputsHoras react-datepicker__input-container input{
  color: #0069a3;
}

/* input{
  width: 100%;
} */

.listaAval{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fondo{
  /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='47' height='47' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(61)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,1)'/%3E%3Cpath d='M-10 10h60v3h-60z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-30 10h3l-1 3h-3zM10 10h3l-1 3h-3zM50 10h3l-1 3h-3z' stroke-miterlimit='99' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
  background-color: #ffffff;
  width: 100vw;
  height: auto;
  background-attachment: fixed;
  /* background-repeat:repeat; */
}

.horas{
  /* padding-top: 5%; */
  /* margin-top: 20%; */
  width: 100vw;
  height: auto;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  padding-top: 100px;
  /* position: relative; */
  /* top:0; */
  overflow-y: auto;
}

/* .horas img{
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: 130px;
} */


.horasLoader{
  /* padding-top: 5%; */
  /* margin-top: 20%; */
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 100px; */
  top:0;
}

.containerHorasLoader {
  /* margin-top: 60px; */
  width: auto;
  height: auto;
  /* align-items: center;
  justify-content: center; */
  /* height: auto; */
  /* width: 800px; */
  background-color: #fff;
  /* border: 2px solid rgba(0, 0, 0, 0.973); */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.inputsHoras input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  /* border: 1px solid #5d5a5a; */
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  /* margin-top: 10px; */
}

.inputsHoras input:hover {
  border-color: #999;
}

.inputsHoras input:focus {
  outline: none;
  border-color: #555;
}

.tablaHoras {
  width: auto;
  margin-top: 20px;
  border: #000000 1px solid;
  background-color: #ddd;
  margin-left: auto; /* Centra el elemento a la derecha */
  margin-right: auto; /* Centra el elemento a la izquierda */
}

.table-container{
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: auto;
  height: 300px;
  margin-top: 50px;
}

.tablaHoras th {
  padding: 8px;
  border: #5d5a5a 1px solid;
  background-color: #f2f2f2;
  color: #000000;
}

.tablaHoras td {
  padding: 3px;
  border: #5d5a5a 1px solid;
  color: #000000;
  /* text-align: center; */
}

.tablaHoras button {
  margin: 0 auto; /* Centra horizontalmente el botón dentro del td */
}

.tablaHoras tbody {
  text-align: center;
}




@media screen and (max-width: 950px) {
  .titulo {
    color: #0069a3;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr{
    border-color: #000;
    background-color: #000;
    height: 2px;
    margin-bottom: 10px;
  }
  
  .containerHoras {
    /* margin-top: 0px; */
    /* width: 70%; */
    /* align-items: center;
    justify-content: center; */
    /* height: auto; */
    /* width: 800px; */
    background-color: #f4d73b;
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 6px #0000004d;
    width: auto;
    padding-left: 50px;
    padding-right: 50px;

    margin-top: 200px;

    /* position: absolute;  */
    /* top: 0;  */
    /* left: 0;  */
    /* padding: 10px;  */
    /* box-sizing: border-box; */
  }

  .containerEmpty{
    height: 200px;
  }
  
  .btn {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #0069a3;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.973);
  }
  
  .btn:focus {
    outline: none;
  }
  
  .btn:active {
    transform: scale(0.9);
  }
  .btn:hover{
    background-color: #44276f;
  }
  
  .uploads {
    display: flex;
    align-items: center;
    margin: 10px 10px 10px 10px;
    justify-content: space-around;
    border:2px solid rgba(0, 0, 0, 0.973);
    border-radius: 10px;
    width: 95%;
  }
  
  .inputsHoras {
    display: grid;
    align-items: center;
    /* margin: 10px 10px 10px 10px; */
    /* justify-content:space-between; */
    /* border:2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 5px;
    width: auto;
    margin: 10px;
  }
  
  .inputsHoras select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
  }
  
  .inputsHoras select:hover {
    border-color: #999;
  }
  
  .inputsHoras select:focus {
    outline: none;
    border-color: #555;
  }
  
  .inputsHoras select option {
    background-color: #fff;
  }
  
  
  .labelsUploads {
    padding: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    width: 250px;
  }
  
  /* .docdiv{
    height: 100%;
  } */
  
  .docdiv:hover{
    background-color: #f0f0f0;
    border-radius: 10px;
    width: auto;
  }
  
  .labelsHoras {
    /* padding: 10px; */
    /* font-size: 20px; */
    font-weight: 700;
    color: #0069a3;
    width: 250px;
    font-weight: 500;
    font-size: 1.071em;
  }
  
  .doc{
    height: auto;
    padding: 3px 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding-right: 20px;
  }
  
  form{
    display: grid;
    justify-content: center;
    align-items: center;
  }
  
  .inputFile{
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
  }
  
  .btn-submit{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }
  
  /* input::file-selector-button {
    font-weight: bold;
    color: #000;
    border: thin solid rgb(0, 0, 0);
    border-radius: 3px;
  }
  
  input::file-selector-button:hover {
    background-color: #cecece;
    border: 2px solid #00cec9;
  } */
  
  .inputsHoras react-datepicker__input-container input{
    color: #0069a3;
  }
  
  /* input{
    width: 100%;
  } */
  
  .listaAval{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .fondo{
    /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='47' height='47' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(61)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,1)'/%3E%3Cpath d='M-10 10h60v3h-60z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-30 10h3l-1 3h-3zM10 10h3l-1 3h-3zM50 10h3l-1 3h-3z' stroke-miterlimit='99' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
    background-color: #ffffff;
    width: 100vw;
    height: auto;
    background-attachment: fixed;
    /* background-repeat:repeat; */
  }
  
  .horas{
    /* padding-top: 5%; */
    /* margin-top: 20%; */
    width: 100vw;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    padding-top: 100px;
    top:0;
    /* overflow-y: auto; */
  }
  
  
  .horasLoader{
    /* padding-top: 5%; */
    /* margin-top: 20%; */
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    top:0;
  }
  
  .containerHorasLoader {
    /* margin-top: 60px; */
    width: auto;
    height: auto;
    /* align-items: center;
    justify-content: center; */
    /* height: auto; */
    /* width: 800px; */
    background-color: #fff;
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inputsHoras input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    /* border: 1px solid #5d5a5a; */
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    /* margin-top: 10px; */
  }

  .inputsHoras input:hover {
    border-color: #999;
  }
  
  .inputsHoras input:focus {
    outline: none;
    border-color: #555;
  }

  .tablaHoras {
    /* width: 100%; */
    margin-top: 20px;
    border: #000000 1px solid;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
    /* overflow-x: auto; */
    width: auto;
  }

  .table-container{
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: auto;
    height: 300px;
    margin-top: 50px;
  }
  
  .tablaHoras th {
    padding: 8px;
    border: #5d5a5a 1px solid;
    background-color: #f2f2f2;
    color: #000000;
  }
  
  .tablaHoras td {
    padding: 3px;
    border: #5d5a5a 1px solid;
    color: #000000;
    /* text-align: center; */
  }
  
  .tablaHoras button {
    margin: 0 auto; /* Centra horizontalmente el botón dentro del td */
  }
  
  .tablaHoras tbody {
    text-align: center;
  }

  .inputsHoras select{
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
  }  
  
}

@media screen and (max-width: 500px) {
  .inputsHoras select{
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
  }  

  .containerHoras {
    /* margin-top: 200px; */
    /* width: 70%; */
    /* align-items: center;
    justify-content: center; */
    /* height: auto; */
    /* width: 800px; */
    background-color: #f4d73b;
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 6px #0000004d;
    /* width: auto; */
    padding-left: 0px;
    padding-right: 0px;

    margin-top: 200px;
  
    /* top: 0;  */
    /* left: 0; */
    /* padding: 10px;  */
    /* box-sizing: border-box; */
  }
}