.titulo {
  color: #0069a3;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.tituloTeacher {
  color: #0069a3;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.subtituloTeacher {
  color: #0069a3;
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  text-align: center;
}

.inputFileTeacher {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  gap: 10px;
  align-items: center;
  width: 95%;
  height: 90%;
  margin: 10px 0;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}

.inputFileTeacher .inputsTeacher input {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5d5a5a;
  padding: 10px;
  font-size: 16px;
  margin-top: 10px;
}

hr {
  border-color: #000;
  background-color: #000;
  height: 2px;
  margin-bottom: 10px;
}

.filtroTeacher {
  margin: auto;
  display: flex;
  height: auto;
  width: 700px;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  background-color: #f4d73b;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 3px 6px #0000004d;
  padding-left: 50px;
  padding-right: 50px;
  border:2px solid rgba(0, 0, 0, 0.973);
}

.containerEmpty {
  height: 200px;
}

.btn {
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 10px;
  background-color: #0069a3;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  width: 250px;
  margin-bottom: 40px;
  border: 2px solid rgba(0, 0, 0, 0.973);
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.9);
}
.btn:hover {
  background-color: #44276f;
}

.inputsTeacher {
  width: 200px;
  display: grid;
  align-items: center;
  border-radius: 5px;
  width: auto;
  margin: 10px;
}

.inputsTeacher select {
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  width: 100%;
  height: 40px;
}

.inputsTeacher select:hover {
  border-color: #999;
}

.inputsTeacher select:focus {
  outline: none;
  border-color: #555;
}

.inputsTeacher select option {
  background-color: #fff;
}

.labelsTeacher {
  font-weight: 700;
  color: #0069a3;
  width: 100%;
  font-weight: 500;
  font-size: 1.071em;
  text-align: center;
}

form {
  display: grid;
  justify-content: center;
  align-items: center;
}

.inputFile {
  font-weight: bold;
  color: #000000;
  margin-right: 20px;
}

.btn-submit {
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

/* input::file-selector-button {
    font-weight: bold;
    color: #000;
    border: thin solid rgb(0, 0, 0);
    border-radius: 3px;
  }
  
  input::file-selector-button:hover {
    background-color: #cecece;
    border: 2px solid #00cec9;
  } */

.inputsTeacher react-datepicker__input-container input {
  color: #0069a3;
}

/* input{
    width: 100%;
  } */

.listaAval {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fondoTeacher {
  /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='47' height='47' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(61)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,1)'/%3E%3Cpath d='M-10 10h60v3h-60z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-30 10h3l-1 3h-3zM10 10h3l-1 3h-3zM50 10h3l-1 3h-3z' stroke-miterlimit='99' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  /* background-repeat:repeat; */
}

.teacher {
  /* padding-top: 5%; */
  /* margin-top: 20%; */
  width: 100vw;
  height: 80%;
  display: grid;
  justify-content: center;
  align-items: flex-start;

  /* position: relative; */
  /* top:0; */
  overflow-y: auto;
}

/* .teacher img{
    position: absolute;
    width: 100%;
    height: 50%;
    margin-top: 130px;
  } */

.teacherLoader {
  /* padding-top: 5%; */
  /* margin-top: 20%; */
  width: auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /*  */
  top: 0;
}

.containerTeacherLoader {
  /* margin-top: 60px; */
  width: auto;
  height: auto;
  /* align-items: center;
    justify-content: center; */
  /* height: auto; */
  /* width: 800px; */
  background-color: #fff;
  /* border: 2px solid rgba(0, 0, 0, 0.973); */
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
}

.inputsTeacher input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  /* border: 1px solid #5d5a5a; */
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
  /* margin-top: 10px; */
}

.inputsTeacher input:hover {
  border-color: #999;
}

.inputsTeacher input:focus {
  outline: none;
  border-color: #555;
}

.tablaTeacher {
  width: auto;
  margin-top: 20px;
  border: #000000 1px solid;
  background-color: #ddd;
  margin-left: auto; /* Centra el elemento a la derecha */
  margin-right: auto; /* Centra el elemento a la izquierda */
}

.table-container-teacher {
  overflow-x: auto; /* Permite el desplazamiento horizontal */
  overflow-y: auto;
  height: 300px;
  /* margin-top: 50px; */
}

.tablaTeacher th {
  padding: 8px;
  border: #5d5a5a 1px solid;
  background-color: #f2f2f2;
  color: #000000;
}

.tablaTeacher td {
  padding: 3px;
  border: #5d5a5a 1px solid;
  color: #000000;
  /* text-align: center; */
}

.tablaTeacher button {
  margin: 0 auto; /* Centra horizontalmente el botón dentro del td */
}

.tablaTeacher tbody {
  text-align: center;
}

.btn-aceptar-t {
  width: 40%;
  height: 40%;
  background: #006aa6;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: 5px 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  font-size: "24px";
}

.btn-aceptar-t:hover {
  background: #00508f;
  font-weight: 700;
}

.btn-denegar-t {
  width: 40%;
  height: 40%;
  background: #ff1919;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1em;
  font-weight: 500;
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-denegar-t:hover {
  background: #e60000;
  font-weight: 700;
}

.btn-registroT {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .titulo {
    color: #0069a3;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .tituloTeacher {
    color: #0069a3;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .subtituloTeacher {
    color: #0069a3;
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    text-align: center;
  }

  hr {
    border-color: #000;
    background-color: #000;
    height: 2px;
    margin-bottom: 10px;
  }

  .filtroTeacher {
    margin: auto;
    display: flex;
    height: auto;
    width: 70%;
    flex-direction: column;
    align-items: center;
    /* background-color: #fff; */
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 15px;

    background-color: #f4d73b;
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    /* border-radius: 15px; */
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 3px 6px #0000004d;
    /* width: auto; */
    padding-left: 50px;
    padding-right: 50px;
  }

  .inputFileTeacher {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
    align-items: center;
    width: 95%;
    height: 90%;
    margin: 10px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .inputFileTeacher .inputsTeacher input {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #5d5a5a;
    padding: 10px;
    font-size: 16px;
    margin-top: 10px;
  }

  .containerEmpty {
    height: 200px;
  }

  .btn {
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    background-color: #0069a3;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    width: 250px;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.973);
  }

  .btn:focus {
    outline: none;
  }

  .btn:active {
    transform: scale(0.9);
  }
  .btn:hover {
    background-color: #44276f;
  }

  /* .uploads {
      display: flex;
      align-items: center;
      margin: 10px 10px 10px 10px;
      justify-content: space-around;
      border:2px solid rgba(0, 0, 0, 0.973);
      border-radius: 10px;
      width: 95%;
    } */

  .inputsTeacher {
    display: grid;
    align-items: center;
    /* margin: 10px 10px 10px 10px; */
    /* justify-content:space-between; */
    /* border:2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 5px;
    width: auto;
    margin: 10px;
  }

  .inputsTeacher select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
  }

  .inputsTeacher select:hover {
    border-color: #999;
  }

  .inputsTeacher select:focus {
    outline: none;
    border-color: #555;
  }

  .inputsTeacher select option {
    background-color: #fff;
  }

  .labelsTeacher {
    /* padding: 10px; */
    /* font-size: 20px; */
    font-weight: 700;
    color: #0069a3;
    width: 250px;
    font-weight: 500;
    font-size: 1.071em;
  }

  form {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .inputFile {
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
  }

  .btn-submit {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  /* input::file-selector-button {
      font-weight: bold;
      color: #000;
      border: thin solid rgb(0, 0, 0);
      border-radius: 3px;
    }
    
    input::file-selector-button:hover {
      background-color: #cecece;
      border: 2px solid #00cec9;
    } */

  .inputsTeacher react-datepicker__input-container input {
    color: #0069a3;
  }

  /* input{
      width: 100%;
    } */

  .listaAval {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fondoTeacher {
    /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='47' height='47' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(61)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,1)'/%3E%3Cpath d='M-10 10h60v3h-60z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-30 10h3l-1 3h-3zM10 10h3l-1 3h-3zM50 10h3l-1 3h-3z' stroke-miterlimit='99' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    /* background-repeat:repeat; */
  }

  .teacher {
    /* padding-top: 5%; */
    /* margin-top: 20%; */
    width: 100vw;
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: flex-start;

    top: 0;
    /* overflow-y: auto; */
  }

  .teacherLoader {
    /* padding-top: 5%; */
    /* margin-top: 20%; */
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    top: 0;
  }

  .containerTeacherLoader {
    /* margin-top: 60px; */
    width: auto;
    height: auto;
    /* align-items: center;
      justify-content: center; */
    /* height: auto; */
    /* width: 800px; */
    background-color: #fff;
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .inputsTeacher input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    /* border: 1px solid #5d5a5a; */
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    /* margin-top: 10px; */
  }

  .inputsTeacher input:hover {
    border-color: #999;
  }

  .inputsTeacher input:focus {
    outline: none;
    border-color: #555;
  }

  .tablaTeacher {
    /* width: 100%; */
    margin-top: 20px;
    border: #000000 1px solid;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
    /* overflow-x: auto; */
    width: auto;
  }

  .table-container-teacher {
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: auto;
    height: 300px;
    /* margin-top: 50px; */
  }

  .tablaTeacher th {
    padding: 8px;
    border: #5d5a5a 1px solid;
    background-color: #f2f2f2;
    color: #000000;
  }

  .tablaTeacher td {
    padding: 3px;
    border: #5d5a5a 1px solid;
    color: #000000;
    /* text-align: center; */
  }

  .tablaTeacher button {
    margin: 0 auto; /* Centra horizontalmente el botón dentro del td */
  }

  .tablaTeacher tbody {
    text-align: center;
  }

  .inputsTeacher select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
  }
}

@media screen and (max-width: 500px) {
  .inputsTeacher select {
    font-size: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100%;
    height: 40px;
  }

  .inputFileTeacher {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 10px;
    align-items: center;
    width: auto;
    height: 90%;
    margin: 10px 0;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
  }

  .labelsTeacher {
    font-weight: 700;
    color: #0069a3;
    width: 100%;
    font-weight: 500;
    font-size: 1.071em;
  }

  .filtroTeacher {
    /* margin: auto; */
    display: flex;
    height: auto;
    width: 70%;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    /* background-color: #fff; */
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    border-radius: 15px;

    background-color: #f4d73b;
    /* border: 2px solid rgba(0, 0, 0, 0.973); */
    /* border-radius: 15px; */
    /* margin-left: auto;
      margin-right: auto; */
    box-shadow: 0 3px 6px #0000004d;
    /* width: auto; */
    /* padding-left: 50px;
      padding-right: 50px; */
  }
}
