.fondoReportes{
    /* background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' height='100%25' width='100%25'%3E%3Cdefs%3E%3Cpattern id='doodad' width='47' height='47' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(61)'%3E%3Crect width='100%25' height='100%25' fill='rgba(42, 67, 101,1)'/%3E%3Cpath d='M-10 10h60v3h-60z' fill='rgba(26, 32, 44,1)'/%3E%3Cpath d='M-30 10h3l-1 3h-3zM10 10h3l-1 3h-3zM50 10h3l-1 3h-3z' stroke-miterlimit='99' fill='rgba(236, 201, 75,1)'/%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23doodad)' height='200%25' width='200%25'/%3E%3C/svg%3E "); */
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
    /* background-repeat:repeat; */
}

.reportes{
    /* padding-top: 5%; */
    /* margin-top: 20%; */
    width: 100vw;
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: flex-start;

    /* position: relative; */
    /* top:0; */
    overflow-y: auto;
}

.tablaReportes {
    width: auto;
    margin-top: 20px;
    border: #000000 1px solid;
    background-color: #ddd;
    margin-left: auto; /* Centra el elemento a la derecha */
    margin-right: auto; /* Centra el elemento a la izquierda */
}

.table-container-reportes{
    overflow-x: auto; /* Permite el desplazamiento horizontal */
    overflow-y: auto;
    height: 300px;
    margin-top: 50px;
    /* width: auto; */
}

.tablaReportes th {
    padding: 8px;
    border: #5d5a5a 1px solid;
    background-color: #f2f2f2;
    color: #000000;
}

.tablaReportes td {
    padding: 3px;
    border: #5d5a5a 1px solid;
    color: #000000;
    gap: 5px;
    /* text-align: center; */
}

.tablaReportes button {
    margin: 0 auto; /* Centra horizontalmente el botón dentro del td */
}

.tablaReportes tbody {
    text-align: center;
}
  
/* Media query para pantallas más pequeñas */
@media screen and (max-width: 600px) {
    .wrapper-button {
        width: 80%;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        backdrop-filter: blur(30px);
        color: #fff;
        border-radius: 10px;
        padding: 30px 40px;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* body {
        align-items: center;
        text-align: center;
        justify-content: center;
    } */
}
  