.active{
    /* background-color: #1d4ed8; */
    /* color: #1d4ed8; */
    text-decoration: underline;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 2rem 1rem 2rem; */
    background-color: #0069a3;
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    /* height: 10vh; */
    /* left: 0; */


    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white; 
    padding: 10px 20px;
    z-index: 1000; */
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.top-bar{
  display:flex;
  justify-content:center;
  align-items: center;
  margin: 0.3rem;
}

.top-bar img{
  width: 50px;
  height: 50px;
  background-color: #f4d73b;
  border-radius: 50%;
  margin-left: 20px;
}

nav ul {
    display: flex;
}

nav ul li {
    list-style: none;
    margin: 0 0.5rem;
}

nav ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

nav ul li a:hover {
    background-color: #f4d73b;
    color: #0069a3;
    font-weight: bold;
}

.button {
  /* width: 100%;
  height: 45px; */
  /* background: #ff1919; */
  /* border: none;
  outline: none;
  border-radius: 10px; */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* cursor: pointer;
  color: white;
  font-size: 16px; */
  /* font-weight: 700; */
  /* padding: 5px 10px; */


  display: block;
  text-decoration: none;
  color: rgb(255, 10, 10);
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin-right: 20px;
}

.button:hover{
  background-color: rgb(255, 10, 10);
  color: #0069a3;
  font-weight: bold;
}




@media screen and (max-width: 900px) {
  nav .menu-icon {
    display: block;
    cursor: pointer;
    margin-right: 20px;
  }

  nav .menu-icon-line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
  }

  nav .open:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  nav .open:nth-child(2) {
    opacity: 0;
  }

  nav .open:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  nav .nav-links {
      display: none;
  }

  nav .nav-links.openn {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75px;
    right: 0;
    width: 100%;
    background-color: #0069a3;
    z-index: 1;
    width: 200px;
  }

  nav .nav-links.openn li {
    margin: 1rem;
  }
}