.fondoHome{
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.home-container{
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.titulo-home {
  color: #0069a3;
  margin-bottom: 60px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
}

.cards{
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;

  gap: 3rem;
}

.card-container{
  height: auto;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .wrapper-button {
    width: 80%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
    margin-left: 10%;
    margin-right: 10%;
  }

  .cards{
    display:block;
    height: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 1000px; */
  
    gap: 10rem;
  }
  
  .card-container{
    display: flex;
    direction: row;
    height: auto;
    /* width: 700px; */
  }
}
