@tailwind base;
@tailwind components;
@tailwind utilities;

*, ::after, ::before {
  box-sizing: border-box;
  /* position: absolute;  */
}


body{
  background: url(../public/img/unimentorIcon.png) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Fira Sans", sans-serif;
  /* position: absolute;  */
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.monitor {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.avales {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.monitores {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.reportes {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.registroHorasMonitor {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.horas {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.documentacion {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.home {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
