@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background: url(../src/assets/campus.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.monitor {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.avales {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.monitores {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.reportes {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.registroHorasMonitor {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.horas {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.documentacion {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}
