.tituloDocumentacion {
  color: #0069a3;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  font-weight: bold;
}

hr{
  border-color: #000;
  background-color: #000;
  height: 2px;
  margin-bottom: 10px;
}

.fondoDocumentacion{
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
}

.style1{
  padding-top: 10px;
  padding-bottom: 10px;
}

.btnSubmitDocs {
  padding: 10px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #0069a3;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
  width: 70%;
  margin-bottom: 40px;
  border: 2px solid rgba(0, 0, 0, 0.973);
}

.btnSubmitDocs:focus {
  outline: none;
}

.btnSubmitDocs:active {
  transform: scale(0.9);
}

::-webkit-file-upload-button {
  display: none;
}

.uploads {
  display: flex;
  flex-direction: column;
  border:2px solid rgba(0, 0, 0, 0.973);
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffffff;
  width: 100%;
}

#fileInput1{
  margin-left: -20px;
  margin-right: 0px;
  width: 100%;
}

#fileInput2{
  margin-left: -20px;
  margin-right: 0px;
  width: 100%;
}

#fileInput3{
  margin-left: -20px;
  margin-right: 0px;
  width: 100%;
}



.labelsUploads {
  color: #0069a3;
  width: 100%;
  /* font-weight: bold; */
  font-size: 1.071em;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.doc{
  height: auto;
  padding: 3px 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

.inputFile{
  font-weight: bold;
  color: #000000;
  margin-left: 30px;
  text-align: center;
}

.btn-uploads{
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: bold;
  width: 100%;
}

.listaAval{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listaAval li{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.containerDocumentacion {
  background-color: #f4d73b;
  border-radius: 15px;
  box-shadow: 0 3px 6px #0000004d;
  padding-left: 50px;
  padding-right: 50px;
  border:2px solid rgba(0, 0, 0, 0.973);
  width: 70vw;
}

.containerDocumentacionOk{
  background-color: #f4d73b;
  border-radius: 15px;
  box-shadow: 0 3px 6px #0000004d;
  padding-left: 50px;
  padding-right: 50px;
  border:2px solid rgba(0, 0, 0, 0.973);
  height: auto;
  padding-bottom: 30px;
  width: 70vw;
}

.documentacion{
  width: 100vw;
  height: 80%;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}

.listaAval ul{
  display:flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
}

.docLink {
  text-align: center;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  width: 150px;
  font-weight: bold;
}

.docLink:focus {
  outline: none;
}

.docLink:active {
  transform: scale(0.9);
}


@media screen and (max-width: 600px) {

  .titulo {
    color: #000000;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    width: 60vh;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  hr{
    border-color: #000;
    background-color: #000;
    height: 2px;
    margin-bottom: 10px;
  }
  
  .containerDocumentacion {
    height: auto;
    background-color: #f4d73b;
    border-radius: 15px;
    box-shadow: 0 3px 6px #0000004d;
  }

  /* .containerDocumentacion {
    background-color: #f4d73b;
    border-radius: 15px;
    box-shadow: 0 3px 6px #0000004d;
    border:2px solid rgba(0, 0, 0, 0.973);
    width: 70vw;
  } */
  
  .documentacion{
    width: 100vw;
    height: 80%;
    display: grid;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
  }

  .labelsUploads {
    color: #0069a3;
    width: 100%;
    /* font-weight: bold; */
    font-size: 1.071em;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }

  .style1{
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
  }

  .fondoDocumentacion{
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
    background-attachment: fixed;
  }
  
  .btnSubmitDocs {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #0069a3;
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    width: 70%;
    margin-bottom: 40px;
    border: 2px solid rgba(0, 0, 0, 0.973);
  }
  
  .btnSubmitDocs:focus {
    outline: none;
  }
  
  .btnSubmitDocs:active {
    transform: scale(0.9);
  }
  
  .uploads {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-left: auto;
    margin-right: auto; */
    justify-content:flex-start;
    border:2px solid rgba(0, 0, 0, 0.973);
    border-radius: 10px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
  .docdivDoc:hover{
    background-color: #0069a3;
    color: #f4d73b;
    border-radius: 10px;
    width: auto;
  }

  .labelsUploads {
    color: #0069a3;
    width: 250px;
    font-weight: 500;
    font-size: 1.071em;
    display: flex;
    justify-content:flex-start;
    align-items: center;
  }
  
  .doc{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
  .inputFile{
    font-weight: bold;
    color: #000000;
    margin-right: 20px;
  }
  
  .btn-uploads{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    width: 100%;
  }
  
  input::file-selector-button {
    font-weight: bold;
    color: #000;
    border: thin solid rgb(0, 0, 0);
    border-radius: 3px;
  }
  
  input::file-selector-button:hover {
    background-color: #cecece;
    border: 2px solid #00cec9;
  }
  
  /* .listaAval{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .containerDocumentacionOk{
    background-color: #f4d73b;
    border-radius: 15px;
    box-shadow: 0 3px 6px #0000004d;
    /* padding-left: 50px;
    padding-right: 50px; */
    border:2px solid rgba(0, 0, 0, 0.973);
    height: auto;
    padding-bottom: 30px;
    width: 70vw;
  }

  
}